<section class="jumbotron text-center" id="jumboFinal">
  <div class="container">
    <h1 class="jumbotron-heading">Gracias por realizar tu pedido!</h1>
    <p class="lead text-muted"></p>
    <p>
      <a href="index.html" class="btn btn-primary my-2" id="botonPedidoFinal">Home</a>
    </p>
  </div>
</section>
