<form>
  <div class="container">
    <div class="row" id="contenedorGrande">
        <img width="400" alt="Imagen plazoleta"
        src="assets/imagenes/big_mac.png">
      <div class="col-6">
        <div class="row">
            <div class="col-3">
              <label for="nombres">Nombres:</label>
            </div>
            <div class="col-8">
              <input id="nombres" class="form-control" name="nombres" type="text" [(ngModel)]="usuario.nombres" required>
            </div>
        </div>
        <div class="row">
          <div class="col-3">
            <label for="apellidos">Apellidos:</label>
          </div>
          <div class="col-8">
            <input id="apellidos" class="form-control" name="apellidos" type="text" [(ngModel)]="usuario.apellidos" required>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <label for="correo">Correo:</label>
          </div>
          <div class="col-8">
            <input id="correo"  class="form-control" name="correo" type="email" [(ngModel)]="usuario.correo" required>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <label for="usuario">Usuario:</label>
          </div>
          <div class="col-8">
            <input id="usuario" class="form-control" name="usuario" type="text" [(ngModel)]="usuario.usuario" required>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <label for="contrasena">Contraseña:</label>
          </div>
          <div class="col-8">
            <input id="contrasena" class="form-control" name="contrasena" type="password" [(ngModel)]="usuario.contrasena" required>
          </div>
        </div>
        <!--<div>
          <label for="confirmacionContrasena">Contraseña (Confirmación):</label>
          <input id="contrasena" name="contrasena" type="password" [(ngModel)]="usuario.confirmacionContrasena" required>
        </div>-->
        <div class="row">
          <div class="col-5">
            <div class="mx-auto" style="width: 200px;">
              <button type="submit" class="btn btn-primary" id="botonRegistrar" (click)="registrar()">Registrar</button>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>

</form>
