#jumboPedido{
  background-color: #E72D2D;
  height: 5%;
}

h1{
  color: white;
}

#paragraph{
  background-color: white;
  border-radius: .5em;
}

div.form-group{
  width: 100%;
}

#jumboFinal{
  background-color: #E72D2D;
  height: 3%;
}

#botonPedidoFinal{
  background-color: #04B431;
}
