<section class="jumbotron text-center" id="jumboPedido">
  <div class="container">
    <h1 class="jumbotron-heading">Bienvenido</h1>
    <p class="lead text-muted" id="paragraph">Realiza tu pedido, ordena un plato fuerte, una bebida y un postre finalmente, disfruta tu experiencia</p>
  </div>
</section>
<div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="assets/imagenes/forte.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Plato Fuerte</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1"> Selecciona un plato fuerte</label>
                      <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                  </div>
                  <p class="card-text">Descipcion plato fuerte</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="assets/imagenes/bebida.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Bebida</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Selecciona tu bebida</label>
                      <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                  </div>
                  <p class="card-text">Descipcion bebida</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="assets/imagenes/postre.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Postre</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Selecciona tu postre</label>
                      <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                  </div>
                  <p class="card-text">Descipcion postre</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <section class="jumbotron text-center" id="jumboFinal">
        <div class="container">
          <h1 class="jumbotron-heading">Finaliza tu orden</h1>
          <p class="lead text-muted">  </p>
          <p>
            <a routerLink="/resultado" class="btn btn-primary my-2" id="botonPedidoFinal">Pedido!</a>
          </p>
        </div>
      </section>
