#botonRegistro{
  background-color: #04B431;
}

#botonLogin{
  background-color: #04B431;
}

div.col-sm{
  padding: 1em;
}

img{
  border-radius: .5em;
}

h1{
  font-family: Helvetica;
  font-style: bold;
  color: white;
}

#contGrande{
  background-color: #E72D2D;
  border-radius: .5em;
}
